<div class="container text-gray-600 text-center h-96 w-full rounded-2xl mt-12 border-0 sm:border-2">
  <div class="flex flex-col justify-center items-center sm:items-start relative">
    <div class="background absolute h-full w-full rounded-2xl"></div>
    <div
      class="flex flex-col justify-center items-center text-center ml-0 sm:ml-8 w-5/6 h-48 sm:w-1/2 lg:ml-24 xl:ml-48">
      <p>W branży IT działamy już od kilku lat, każdy z nas ma wieloletnie doświadczenie w tworzeniu i utrzymywaniu
        różnego rodzaju serwisów i usług internetowych. Tworzone przez nas strony nie opierają się wciąż powtarzających
        się szablonach - każdy projekt jest tworzony na indywidualne zamówienie.</p>
    </div>
    <div class="flex flex-col justify-center items-center text-center ml-0 sm:ml-8 w-5/6 h-24 sm:h-48 sm:w-1/2">
      <p>
        Tworzymy strony z najwyższą starannością i dbałością o szczegóły oraz piszemy wysokiej jakości kod przyjazny
        wyszukiwarkom. Każde rozwiązanie testujemy na wielu przeglądarkach i urządzeniach różnych producentów.
      </p>
    </div>
  </div>
</div>
<div
  class="container text-gray-600 text-base sm:text-sm md:text-base text-center h-auto sm:h-96 w-full rounded-2xl my-12 border-0 sm:border-2 transform rotate-180">
  <div class="background absolute h-full w-full rounded-2xl"></div>
  <div class="flex flex-col-reverse justify-center items-center sm:items-start">
    <div
      class="flex flex-col justify-center items-center text-center ml-0 sm:ml-8 w-5/6 h-56 sm:h-48 sm:w-1/2 transform rotate-180">
      <p>Nasz kod nie jest przeładowany niepotrzebnymi funkcjami, z których prawdopodobnie nigdy nie
        skorzystasz. Podczas gdy strona jest uruchomiona przez CMS typu WordPress jest ona przeładowana
        funkcjonalnościami, które w większości przypadków nie są wykorzystywane</p>
    </div>
    <div
      class="flex flex-col justify-center items-center text-center ml-0 sm:ml-8 w-5/6 h-56 sm:h-48 sm:w-1/2 lg:ml-24 xl:ml-48 transform rotate-180">
      <p>W CMS'ach typu WordPress użytkownik takiej strony ściąga więcej megabajtów (co zwiększa wykorzystanie np.
        pakietów danych komórkowych) przez co strona może działać wolniej. Na stronach tworzonych przez nas te problemy
        są wyeliminowane - tworzymy tylko takie funkcjonalności, których strona wymaga dzięki czemu nasze strony ładują
        się szybciej i działają płynniej.</p>
    </div>
  </div>
</div>
