<div
  class="container mt-12 h-96 w-full rounded-2xl border-0 text-center text-gray-600 sm:border-2"
>
  <div
    class="relative flex flex-col items-center justify-center sm:items-start"
  >
    <div class="background absolute h-full w-full rounded-2xl"></div>
    <div
      class="ml-0 flex h-48 w-5/6 flex-col items-center justify-center text-center sm:ml-8 sm:w-1/2 lg:ml-24 xl:ml-48"
    >
      <p translate>AboutUsP1</p>
    </div>
    <div
      class="ml-0 flex h-48 w-5/6 flex-col items-center justify-center text-center sm:ml-8 sm:w-1/2"
    >
      <p translate>AboutUsP2</p>
    </div>
  </div>
</div>
<div
  class="container my-12 h-auto w-full rotate-180 transform rounded-2xl border-0 text-center text-base text-gray-600 sm:h-96 sm:border-2 sm:text-sm md:text-base"
>
  <div class="background absolute h-full w-full rounded-2xl"></div>
  <div class="flex flex-col-reverse items-center justify-center sm:items-start">
    <div
      class="ml-0 flex h-56 w-5/6 rotate-180 transform flex-col items-center justify-center text-center sm:ml-8 sm:h-48 sm:w-1/2"
    >
      <p translate>AboutUsP3</p>
    </div>
    <div
      class="ml-0 flex h-56 w-5/6 rotate-180 transform flex-col items-center justify-center text-center sm:ml-8 sm:h-48 sm:w-1/2 lg:ml-24 xl:ml-48"
    >
      <p translate>AboutUsP4</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
