.container {
  @media(min-width: 640px) {
    background-image: url("/assets/aboutus-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 156px;
  }
  @media(min-width: 1024px) {
    background-position-x: 412px;
  }
  @media(min-width: 1280px) {
    background-position-x: 668px;
  }
  @media(min-width: 1536px) {
    background-position-x: 924px;
  }
}
