input[type=radio]:checked ~ .radio {
  color: white;
  background-color: var(--color-pink);
  border: none;
}

.ng-valid,
.ng-valid.required {
  border-bottom: 2px solid rgb(209, 213, 219);
}

.ng-invalid:not(form) {
  border-bottom: 2px solid var(--color-pink);
}

.enabled {
  background: linear-gradient(
    45deg,
    var(--color-pink) 0%,
    var(--color-navy-blue) 50%,
    var(--color-yellow) 100%
  );
}

.disabled {
  background: white;
  border: 2px solid rgb(209, 213, 219);
  color: rgb(209, 213, 219);
}

@media (min-width: 640px) {
  form {
    width: 420px;
  }
  .fan-animation {
    animation: fan 3s ease-in-out;
  }
}

@keyframes fan {
  0% {
    transform: rotate(0deg) scale(0.95);
  }
  100% {
    transform: rotate(-6deg) scale(1);
  }
}
