.active {
  display: inline-block;
  position: relative;
}

.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 5px;
  left: 0;
  background-color: rgba(55, 65, 81, var(--tw-text-opacity));
  transition: transform 0.25s ease-out;
  animation: underline 2s ease;
}

#back2Top {
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
