<section class="container w-full my-8 text-gray-500" data-aos="fadeIn">
  <ol type="1" class="list-decimal list-inside">
    <li>Informacje ogólne
      <p>Operatorem Internetics.Group zwanym dalej serwisem jest Internetics.Group Piotr Kieltyka z siedzibą w Gdyni,
        Polska, NIP: 5872328239</p>
    </li>
    <li>Serwis realizuje funkcje pozyskiwania informacji o Użytkownikach i ich zachowaniu w następujący sposób:
      Informacje w formularzach.
      <ul class="list-disc list-inside">
        <li>Poprzez dobrowolnie wprowadzone w formularzach informacje.</li>
        <li>Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. „ciasteczka”).</li>
        <li>Poprzez gromadzenie logów serwera www przez operatora hostingowego OVH.</li>
      </ul>
    </li>
    <li>Serwis zbiera informacje podane dobrowolnie przez użytkownika.</li>
    <li>Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP).</li>
    <li>Dane w formularzu nie są udostępniane podmiotom trzecim.</li>
    <li>Dane podane w formularzu mogą stanowić zbiór potencjalnych klientów.</li>
    <li>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu
      dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.
    </li>
    <li>Dane podane w formularzach mogą być przekazane podmiotom technicznie realizującym niektóre usługi.</li>
    <li>Informacja o plikach cookies.
      <ul class="list-disc list-inside">
        <li>Co to są ciasteczka?
          <p>Ciasteczka (ang. cookies) to niewielkie pliki, zapisywane i przechowywane na twoim komputerze, tablecie lub
            smartphonie podczas gdy odwiedzasz różne strony w internecie. Ciasteczko zazwyczaj zawiera nazwę strony
            internetowej, z której pochodzi, „długość życia” ciasteczka (to znaczy czas jego istnienia) oraz przypadkowo
            wygenerowany unikalny numer służący do identyfikacji przeglądarki, z jakiej następuje połączenie ze stroną
            internetową.</p>
        </li>
        <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które
          przechowywane są w urządzeniu końcowym użytkownika serwisu i przeznaczone są do korzystania ze stron
          internetowych serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas
          przechowywania ich na urządzeniu końcowym oraz unikalny numer.
        </li>
        <li>Do czego używamy ciasteczek?
          <p>Serwis używa ciasteczek w różnych celach: by strony i aplikacje działały szybciej i by były łatwiejsze w
            użyciu, aby lepiej dopasować treści i reklamy do twoich oczekiwań i zainteresowań oraz do zbierania
            anonimowych, zagregowanych statystyk, które pomagają w poprawianiu funkcjonalności i zawartości stron i
            aplikacji. Używając ciasteczek w wyżej opisany sposób nigdy nie identyfikujemy tożsamości użytkowników na
            podstawie informacji przechowywanych w ciasteczkach.</p>
        </li>
        <li>Serwis korzysta z plików cookies.</li>
      </ul>
    </li>
    <li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika serwisu pliki cookies oraz uzyskującym do nich
      dostęp jest operator serwisu.
    </li>
    <li>Pliki cookies wykorzystywane są w następujących celach:
      <ul class="list-disc list-inside">
        <li>W ramach serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz
          „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu
          końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania
          (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez
          czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
        </li>
        <li> Tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy serwisu korzystają ze stron
          internetowych, co umożliwia ulepszanie ich struktury i zawartości;
        </li>
        <li>Utrzymanie sesji Użytkownika serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej
          podstronie serwisu ponownie wpisywać loginu i hasła;
        </li>
        <li>Określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w
          szczególności sieci Google. Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa)
          zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy
          serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików
          cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera
          pomoc lub dokumentacja przeglądarki internetowej.
        </li>
        <li>Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach
          internetowych serwisu.
        </li>
        <li>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika serwisu i wykorzystywane mogą być również przez
          współpracujących z operatorem serwisu reklamodawców oraz partnerów.
        </li>
        <li>Zalecamy przeczytanie polityki ochrony prywatności tych firm, aby poznać zasady korzystania z plików cookie
          wykorzystywane w statystykach: Polityka ochrony prywatności Google Analytics.
        </li>
        <li>Pliki cookie mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia
          reklam
          dopasowanych do sposobu, w jaki użytkownik korzysta z serwisu. W tym celu mogą zachować informację o ścieżce
          nawigacji użytkownika lub czasie pozostawania na danej stronie.
        </li>
        <li>W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może
          przeglądać i edytować informacje wynikające z plików cookies przy pomocy narzędzia:
          https://www.google.com/ads/preferences/.
        </li>
      </ul>
    </li>
    <li>Logi serwera.
      <ul class="list-disc list-inside">
        <li>Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są
          wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej
          obsługi świadczonych usług hostingowych.
        </li>
        <li>Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać: Dane powyższe
          nie są kojarzone z konkretnymi osobami przeglądającymi strony.
        </li>
        <li>Czas nadejścia zapytania,</li>
        <li>Czas wysłania odpowiedzi,</li>
        <li>Nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</li>
        <li>Informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
        <li>Adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do
          serwisu nastąpiło przez odnośnik,
        </li>
        <li>Informacje o przeglądarce użytkownika,</li>
        <li>Informacje o adresie IP.</li>
        <li>Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.</li>
        <li>Udostępnianie danych – Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie
          dozwolonych.
        </li>
        <li>Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.
        </li>
        <li>Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na
          podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.
        </li>
      </ul>
    </li>
    <li>Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę? – Jeśli użytkownik nie chce otrzymywać
      plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies
      niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w
      skrajnych przypadkach może uniemożliwić korzystanie ze stron www.
    </li>
    <li>Zgodnie z obowiązującym prawem, każdy sklep internetowy w jasny sposób musi informować o wykorzystywanych w
      nim plikach cookie oraz polityce prywatności. Powinieneś to zrobić właśnie w tym miejscu.
    </li>
    <li>Niniejsza polityka dotycząca plików cookie odnosi się do wszystkich stron internetowych oraz aplikacji na
      urządzenia mobilne, należących do Internetics.Group Piotr Kieltyka z siedzibą w Gdyni, Polska, NIP: 5872328239
    </li>
    <li>Przez korzystanie ze stron i aplikacji wyrażasz zgodę na używanie ciasteczek zgodnie z tą polityką. Jeżeli
      nie zgadzasz się na używanie przez nas plików cookie, powinieneś zmienić ustawienia swojej przeglądarki w
      odpowiedni sposób lub zrezygnować z używania stron oraz aplikacji.
    </li>
  </ol>
</section>
