<section class="w-full pt-8 my-16">
  <div class="flex flex-col sm:flex-row justify-center mb-6 sm:mb-0">
    <div class="sm:flex-1 lg:flex-initial lg:w-1/4 rounded-t-2xl rounded-tr-none rounded-b-2xl rounded-br-none border-2 bg-white mt-4 flex flex-col shadow-2xl">
      <div class="p-8 text-3xl font-bold text-center">
        <p style="background: -webkit-linear-gradient(rgb(243, 244, 246), rgb(107, 114, 128), rgb(17, 24, 39)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Hobby</p>
      </div>
      <div class="border-0 border-grey-light border-t border-solid text-sm">
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          1 Ice Cream
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Unlimited toppings
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          CMS
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Analytics
        </div>
      </div>
      <div class="w-full text-center text-gray-500 px-8 pt-8 text-xl mt-auto">
        50 PLN
        <p class="text-gray-300 italic line-through">
          75 PLN
        </p>
        <p class="text-base" translate>monthly</p>
      </div>
      <div class="text-center mt-8 mb-8 mt-auto">
        <a href="#"
           class="inline-block bg-gray-400 text-gray-100 px-6 py-2 rounded-full hover:bg-gray-500 hover:text-white hover:no-underline" translate>GetPlan</a>
      </div>
    </div>
    <div class="flex-1 lg:flex-initial lg:w-1/4 rounded-t-xl border-2 bg-white mt-4 sm:-mt-4 shadow-lg z-30 flex flex-col shadow-2xl">
      <div class="w-full p-8 text-3xl font-bold text-center">
        <p style="background: -webkit-linear-gradient(rgb(243, 244, 246), rgb(107, 114, 128), rgb(17, 24, 39)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Start-up</p>
        <p class="text-sm uppercase text-gray-600 underline py-1" translate="">MostPopular</p>
      </div>
      <div class="w-full border-0 border-grey-light border-t border-solid text-sm">
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          2 Ice Creams
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          25 Cones
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Unlimited toppings
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          CMS
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Analytics
        </div>
      </div>
      <div class="w-full text-center text-gray-500 px-8 pt-8 text-xl mt-auto">
        75 PLN
        <p class="text-gray-300 italic line-through">
          100 PLN
        </p>
        <p class="text-base" translate>monthly</p>
      </div>
      <div class="text-center mt-8 mb-8 mt-auto">
        <a href="#"
           class="inline-block bg-gray-600 text-gray-200 px-6 py-2 rounded-full hover:bg-gray-900 hover:text-white hover:no-underline" translate>GetPlan</a>
      </div>
    </div>
    <div class="flex-1 lg:flex-initial lg:w-1/4 rounded-t-2xl rounded-tl-none rounded-br-2xl rounded-bl-none border-2 bg-white mt-4 flex flex-col shadow-2xl">
      <div class="p-8 text-3xl font-bold text-center">
        <p style="background: -webkit-linear-gradient(rgb(243, 244, 246), rgb(107, 114, 128), rgb(17, 24, 39)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Pro</p>
      </div>
      <div class="border-0 border-grey-light border-t border-solid text-sm">
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Unlimited Ice Creams
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Unlimited Cones
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Unlimited toppings
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          CMS
        </div>
        <div class="text-center text-gray-600 border-0 border-grey-light border-b border-solid py-4">
          Analytics
        </div>
      </div>
      <div class="text-center text-gray-500 px-8 pt-8 text-xl mt-auto">
        150 PLN
        <p class="text-gray-300 italic line-through">
          250 PLN
        </p>
        <p class="text-base" translate>monthly</p>
      </div>
      <div class="text-center mt-8 mb-8 mt-auto">
        <a href="#"
           class="inline-block bg-gray-400 text-gray-100 px-6 py-2 rounded-full hover:bg-gray-500 hover:text-white hover:no-underline" translate>GetPlan</a>
      </div>
    </div>
  </div>
</section>
