<section id="jumbo" class="container h-3/4 w-screen">
  <div class="flex flex-col md:flex-row items-center justify-evenly m-8 h-auto">
    <div class="flex justify-center items-center md:w-auto border-2 border-white border-2xl rounded-2xl" data-aos="fade-right" data-aos-duration="1500">
      <img class="rounded-2xl shadow-2xl" id="jumbo-image-1"
           src="./assets/video/HunanGSX/earth-zoom-screen.webp"
           loading="lazy"
           alt="earth zoom loop">
    </div>
    <div
      class='flex flex-col justify-center items-center text-center my-8 w-auto md:w-1/2 md:mx-8'
      data-aos='zoom-in' data-aos-duration='1000'
    >
      <p class='text-gray-700 font-medium text-2xl mb-2' translate>FirstJumboHeader</p>
      <p class='text-gray-600 font-light text-base tracking-wide' translate>FirstWelcomeMessage</p>
    </div>
  </div>
</section>
<section class='container h-3/4 w-screen mb-16'>
  <div class='flex flex-col-reverse md:flex-row items-center justify-between m-8 h-auto w-auto'>
    <div
      class='flex flex-col justify-center items-center text-center my-8 w-auto md:w-1/2 md:mx-8'
      data-aos='zoom-in' data-aos-duration='1000' data-aos-offset='-100'
    >
      <p class='text-gray-700 font-medium text-2xl mb-2' translate>SecondJumboHeader</p>
      <p class='text-gray-600 font-light text-base tracking-wide' translate>SecondWelcomeMessage</p>
    </div>
    <div class='flex justify-center items-center md:w-auto border-2 border-white border-2xl rounded-2xl'
         data-aos='fade-left' data-aos-duration='1500'
         data-aos-offset='-100'>
      <img class='rounded-2xl shadow-2xl' id='jumbo-image-2'
           src='./assets/video/HunanGSX/my-diamo-loop-screen.webp'
           loading='lazy'
           alt='IT loop'>
    </div>
  </div>
</section>
