<ng-container *ngFor="let jumboItem of jumboItems; let i = index">
  <section id="jumbo" class="container mt-8 h-1/2 w-auto overflow-x-hidden">
    <div
      class="m-8 flex h-auto w-auto flex-col items-center justify-evenly md:flex-row"
      [ngClass]="i === 0 ? 'md:py-8' : 'py-0'"
    >
      <div
        class="border-2xl flex items-center justify-center rounded-2xl border-2 border-white md:w-auto"
        [ngClass]="i != 0 ? 'md:order-2' : 'md:order-1'"
        [attr.data-aos]="i != 0 ? 'fade-left' : 'fade-right'"
        [attr.data-offset]="i != 0 ? '-100' : '0'"
        data-aos-duration="1500"
      >
        <img
          class="rounded-2xl shadow-2xl"
          id="jumbo-image-{{ i }}"
          src="{{ jumboItem.imageUrl }}"
          loading="lazy"
          alt="earth zoom loop"
        />
      </div>
      <div
        class="my-8 flex w-auto flex-col items-center justify-center text-center md:mx-8 md:w-1/2"
        [ngClass]="i != 0 ? 'md:order-1' : 'md:order-2'"
        [attr.data-offset]="i != 0 ? '-100' : '0'"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <p class="mb-2 text-2xl font-medium text-gray-700" translate>
          {{ jumboItem.header }}
        </p>
        <p class="text-base font-light tracking-wide text-gray-600" translate>
          {{ jumboItem.content }}
        </p>
      </div>
    </div>
  </section>
</ng-container>
