<ng-container *ngFor='let jumboItem of jumboItems; let i = index'>
  <section id='jumbo' class='container h-3/4 w-auto overflow-x-hidden'>
    <div class='flex flex-col md:flex-row items-center justify-evenly m-8 h-auto w-auto'>
      <div class='flex justify-center items-center md:w-auto border-2 border-white border-2xl rounded-2xl'
           [attr.data-aos]='i != 0 ? "fade-left" : "fade-right"'
           [attr.data-offset]='i != 0 ? "-100" : "0"'
           data-aos-duration='1500'>
        <img class='rounded-2xl shadow-2xl' id='jumbo-image-{{i}}'
             src='{{jumboItem.imageUrl}}'
             loading='lazy'
             alt='earth zoom loop' />
      </div>
      <div
        class='flex flex-col justify-center items-center text-center my-8 w-auto md:w-1/2 md:mx-8'
        data-aos='zoom-in' data-aos-duration='1000'
      >
        <p class='text-gray-700 font-medium text-2xl mb-2' translate>{{jumboItem.header}}</p>
        <p class='text-gray-600 font-light text-base tracking-wide' translate>{{jumboItem.content}}</p>
      </div>
    </div>
  </section>
</ng-container>
