<section class="container h-1/2 flex flex-col justify-between items-center justify-center items-center">
  <p class="text-center text-gray-700 text-2xl font-bold py-8" translate>OurProjects</p>
  <div class="py-16" data-aos="fade-up" data-aos-offset="300"><img
    class="rounded-2xl shadow-2xl"
    src="https://raw.githubusercontent.com/PiotrKieltyka/frontendmentor-fylo-dark-theme-landing-page/master/design/desktop-preview.jpg"
    alt="FrontendMentor"></div>
  <div class="py-16" data-aos="fade-up" data-aos-offset="300"><img
    class="rounded-2xl shadow-2xl"
    src="https://raw.githubusercontent.com/PiotrKieltyka/frontendmentor-huddle-landing-page-with-curved-sections/master/design/desktop-preview.jpg"
    alt="FrontendMentor"></div>
  <div class="py-16" data-aos="fade-up" data-aos-offset="300"><img
    class="rounded-2xl shadow-2xl"
    src="https://raw.githubusercontent.com/PiotrKieltyka/frontendmentor-social-media-dashboard/master/design/desktop-preview.jpg"
    alt="FrontendMentor">
  </div>
</section>
